@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
    --font-size: 4rem;
    --big-font-size: 5rem;
    --medium-font-size: 2rem;
    --small-font-size: .8rem;
    --text-font-weight: 700;
    --big-font-weight: 800;
    --medium-font-weight: 600;
    --small-font-weight: 400;
}

body {
    --text-color: #37474F;
    --background-color: #EEEEEE;
    --background-content-color: #78909C;
    --separator-color: #78909C;
    --highlight-color: #6667f4;
    --highlight-gradient-bg-color: #21d4fd;
    --highlight-gradient-bg-img: linear-gradient(19deg,#21d4fd,#b721ff);
}

body.dark-mode {
    --text-color: #FFFFFF;
    --background-color: #37474F;
    --background-content-color: #C5D3DA;
    --separator-color: #2d3848;
    --highlight-color: #db6da6;
    --highlight-gradient-bg-color: #fbda61;
    --highlight-gradient-bg-img: linear-gradient(19deg,#fbda61,#ff5acd);

}

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #FFFFFF;
        --background-color: #191f2a;
        --background-content-color: #C5D3DA;
        --separator-color: #2d3848;
        --highlight-color: #db6da6;
        --highlight-gradient-bg-color: #fbda61;
        --highlight-gradient-bg-img: linear-gradient(19deg,#fbda61,#ff5acd);
    }
    body.light-mode {
        --text-color: #37474F;
        --background-color: #EEEEEE;
        --background-content-color: #78909C;
        --separator-color: #78909C;
        --highlight-color: #6667f4;
        --highlight-gradient-bg-color: #21d4fd;
        --highlight-gradient-bg-img: linear-gradient(19deg,#21d4fd,#b721ff);
    }
}

body {
    color: var(--text-color);
    background: var(--background-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 98vh;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    overflow-x: hidden;
}

a,
a:visited {
    color: var(--text-color);
}

footer {
    padding-top: 0.5rem;
    border-top: 0.1rem solid var(--separator-color);
    font-size: var(--small-font-size);
    font-weight: var(--small-font-weight);
}

header, footer {
    text-align: center;
}

#content {
    width: 100%;
    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 6rem auto;
    margin-left: 35vw;
    grid-auto-flow: row;
    box-sizing: border-box;
    gap: 1rem;
    grid-template-areas:
        "jour date-complete"
        "jour jour-ferie"
        "description .";
}
    .jour { 
        grid-area: jour; 
        /*color: var(--text-color);*/
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20rem;
        text-align: right;
        line-height: 18rem;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-color: var(--highlight-gradient-bg-color);
        background-image: var(--highlight-gradient-bg-img);
    }
    
    .date-complete { grid-area: date-complete; }
    
    .jour-ferie { 
        grid-area: jour-ferie;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 67px;
        background-color: #FFF;
        color: var(--highlight-color);
        line-height: 6rem;
        padding-left: 2rem;
    }
    
    .description { 
        grid-area: description; 
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        color: var(--background-content-color);
    }
      

.delai {
    font-size: var(--big-font-size);
    font-weight: var(--big-font-weight);
    letter-spacing: -.02em;
    margin-block-start: 0.2em;
}

#theme-switch {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background: none;
    padding: 0.15rem 0.5rem;
}

@media (max-width: 812px) {
    html {
        font-size: 0.9rem;
    }
    body > * {
        padding: 1rem;
        margin: 0;
    }
    #content {
        font-size: 0.8em;
        margin: auto;
        width: 90%;
        padding: 1rem;
    }
    footer {
        font-size: 0.8rem;
    }
}
