@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
    --font-size: 4rem;
    --big-font-size: 5rem;
    --medium-font-size: 2rem;
    --small-font-size: .8rem;
    --text-font-weight: 700;
    --big-font-weight: 800;
    --medium-font-weight: 600;
    --small-font-weight: 400;
}

body {
    --text-color: #1a202c;
    --background-color: #FFF;
    --background-content-color: #e2e8f0;
    --separator-color: #e2e8f0;
    --highlight-color: #B721FF;
    --highlight-gradient-bg-color: background-color: #21D4FD;
    --highlight-gradient-bg-img: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

body.dark-mode {
    --text-color: #f7fafb;
    --background-color: #191f2a;
    --background-content-color: #2d3848;
    --separator-color: #2d3848;
    --highlight-color: #c1449b;
    --highlight-gradient-bg-color: #FBDA61;
    --highlight-gradient-bg-img: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

}

@media (prefers-color-scheme: dark) {
    body {
        --text-color: #f7fafb;
        --background-color: #191f2a;
        --background-content-color: #2d3848;
        --separator-color: #2d3848;
        --highlight-color: #c1449b;
        --highlight-gradient-bg-color: #FBDA61;
        --highlight-gradient-bg-img: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    }
    body.light-mode {
        --text-color: #1a202c;
        --background-color: #FFF;
        --background-content-color: #e2e8f0;
        --separator-color: #e2e8f0;
        --highlight-color: #B721FF;
        --highlight-gradient-bg-color: background-color: #21D4FD;
        --highlight-gradient-bg-img: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    }
}

body {
    color: var(--text-color);
    background: var(--background-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

a,
a:visited {
    color: var(--text-color);
}

footer {
    padding-top: 0.5rem;
    border-top: 0.1rem solid var(--separator-color);
    font-size: var(--small-font-size);
    font-weight: var(--small-font-weight);
}

header, footer {
    text-align: center;
}

body > * {
    padding: 1rem;
    margin: 0 2rem;
}

#content {
    width: 60vw;
    margin: auto;
    text-align: left;
}

.delai {
    font-size: var(--big-font-size);
    font-weight: var(--big-font-weight);
    letter-spacing: -.02em;
    margin-block-start: 0.2em;
}

#compute-delai {
    background-color: var(--highlight-gradient-bg-color);
    background-image: var(--highlight-gradient-bg-img);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jour {
    font-size: var(--medium-font-size);
    font-weight: var(--medium-font-weight);
    letter-spacing: -.05em;
}

#fetch-jour,
#compute-delai,
#compute-detail {
    color: var(--highlight-color);
}

#theme-switch {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background: none;
    padding: 0.15rem 0.5rem;
}

@media (max-width: 812px) {
    html {
        font-size: 0.9rem;
    }
    body > * {
        padding: 1rem;
        margin: 0;
    }
    #content {
        font-size: 0.8em;
        margin: auto;
        width: 90%;
        padding: 1rem;
    }
    footer {
        font-size: 0.8rem;
    }
}
